* {
  box-sizing: boarder-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.calculator {
  background: black;
  padding: 25px;
  border-radius: 25px;
  width: 340px;
  box-shadow: 0 0 25px black;
}

.display {
  background: white;
  color: #333;
  height: 125px;
  border-radius: 18px;
  margin-bottom: 25px;
  padding: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;

  overflow: hidden;
}


.lyrics {
  width: 100%;
  max-width: 100%;
  text-align: center;
  overflow-wrap: anywhere;
  word-break: normal;
}

.wave-word {
  display: inline-block;
  animation: waveLetter 5s ease-in-out infinite;
}

@keyframes waveLetter {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
} 

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  height: 68px;
  border: none;
  border-radius: 14px;
  background: #292929;
  color: white;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #3d3d3d;
}

.special,
.operator {
  color: orange;
}

.equal {
  background: orange;
  grid-column: span 2;
}

.equal:hover{
  background: orange;
}